@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
        <title>Test1</title>
    </head>
    <body>
        <h1>Addition of two numbers</h1>
        <p>number1: @ViewBag.num1</p><br/>
        <p>number2: @ViewBag.num2</p><br/>
        <p>@ViewBag.num1 + @ViewBag.num2 = @ViewBag.ans</p>
    </body>
</html>